.login-page {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  font-family: DM Sans;
  background-image: linear-gradient(to right, #de00ff, #8000ff);
}

.card-container {
  height: 100%;
  width: 50%;
}
.card {
  width: 80%;
  height: 80%;
  background-color: #ffe8f5;
}

.form {
  height: 100%;
  width: 100%;
  background-color: #ffe8f5;
  color: #de00ff;
}

.logo-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.website-logo {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-right: 10px;
}
.welcome {
  font-size: 30px;
  height: 20px;
  color: #ef4444;
  font-family: 'Sofia', sans-serif;
}
.website-heading {
  color: #f7931e;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  height: 10px;
}
.tagline {
  height: 10px;
  color: #f7931e;
  font-size: 14px;
}
.login-heading {
  font-weight: 500;
  text-align: center;
  color: black;
}
.login-span-heading {
  color: #bd17b7;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.label {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-bottom: 10px;
  color: #96351e;
}
.input {
  height: 40px;
  top: 24px;
  background-color: transparent;
  color: #de00ff;
  font-size: 14px;
  border-radius: 20px;
  padding-left: 15px;
  border-width: 1px;
  font-style: italic;
  letter-spacing: 1px;
}
.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  align-self: center;
  width: 90%;
}
.checkbox-input {
  height: 20px;
  width: 40px;
}
.checkbox-label {
  font-size: 15px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0.01em;
  color: #96351e;
}
.login-btn {
  background: #e2b143;
  border-radius: 28px;
  border-style: none;
  font-family: 'Times New Roman';
  width: 40%;
  height: 40px;
  margin-top: 20px;
  color: #4a171e;
  font-size: 20px;
  cursor: pointer;
}
.login-btn:hover {
  background-image: linear-gradient(to right, #de00ff, #8000ff);
  color: white;
}

.login-btn:active {
  background-image: linear-gradient(to right, #de00ff, #8000ff);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.error-container {
  height: 40px;
  width: 90%;
  margin-top: 5px;
  text-align: center;
}
.error-paragraph {
  color: #ef4444;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  line-height: 5px;
}

.login-lg-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.login-sm-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (max-height: 767px) {
  .login-page {
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #ffffff;
    overflow: auto;
  }
  .card-container {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 100%;
  }
  .card {
    height: 100%;
    width: 100%;
    background: #fefeff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form {
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .welcome {
    font-size: 22px;
    height: 8px;
    margin-top: 0px;
  }
  .website-heading {
    color: #f7931e;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 10px;
  }
  .login-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .login-span-heading {
    font-size: 24px;
  }

  .login-btn {
    width: 30%;
    height: 30px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
  }
  .login-btn:hover {
    background-image: linear-gradient(to right, #de00ff, #8000ff);
    color: white;
  }

  .login-btn:active {
    background-image: linear-gradient(to right, #de00ff, #8000ff);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .input-container {
    width: 65%;
  }
  .input {
    height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .checkbox-container {
    height: 30px;
    width: 65%;
  }
  .checkbox-input {
    height: 18px;
    width: 40px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .img-container {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .login-lg-img {
    display: none;
    width: 100%;
    height: 100%;
  }
  .login-sm-img {
    display: block;
    width: 90%;
    height: 100%;
    background-size: cover;
  }

  .logo-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .error-container {
    height: 10px;
    width: 80%;
    margin-top: 3px;
    text-align: center;
  }
  .error-paragraph {
    color: #ef4444;
    font-weight: bold;
    font-size: 18px;
    line-height: 5px;
  }
}

@media (min-height: 768px) {
  .login-page {
    display: flex;
    flex-direction: column;
  }
  .card-container {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .card {
    height: 90%;
    border-radius: 20px;
  }
  .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .logo-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .website-heading {
    font-size: 28px;
    height: 15px;
  }
  .tagline {
    height: 15px;
    font-size: 16px;
  }
  .website-logo {
    width: 60px;
    height: 60px;
  }

  .input-container {
    width: 70%;
  }
  .input {
    height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .label {
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #475569;
    padding-bottom: 10px;
  }
  .checkbox-container {
    height: 40px;
    width: 70%;
  }
  .checkbox-input {
    height: 20px;
    width: 40px;
  }
  .checkbox-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 1px;
  }
  .login-btn {
    height: 40px;
    width: 40%;
  }
  .img-container {
    height: 45%;
    width: 100%;
  }

  .login-lg-img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .login-sm-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
  }
  .error-paragraph {
    color: #ef4444;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
  }
}

@media (orientation: landscape) {
  .login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-container {
    height: 100%;
    width: 50%;
  }
  .card {
    width: 80%;
    height: 80%;
    background-color: #ffe8f5;
    border-radius: 80px;
  }
  .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
  }
  .img-container {
    height: 100%;
    width: 50%;
    order: 1;
  }
  .website-heading {
    font-size: 20px;
  }
  .welcome {
    font-size: 30px;
    height: 20px;
    color: #ef4444;
    font-family: 'Sofia', sans-serif;
  }
  .logo-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .website-logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 10px;
  }
  .login-heading {
    font-size: 15px;
  }
  .login-span-heading {
    font-size: 30px;
  }

  .login-lg-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
  }
  .login-sm-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
  }
  .input-container {
    width: 65%;
    padding-top: 20px;
  }
  .input {
    font-size: 14px;
  }
  .checkbox-container {
    width: 65%;
  }
}
